<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <!-- BOOTSTRAP -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FONTAWESOME  -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- FONTFAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="nav-logo">
        <img id="train-logo" src="/images/train.png" alt="train" />
        <h4>Ticketac</h4>
      </div>
      <div class="nav-links">
        <a href="/">Logout </a>
        <a href="/home">Home </a>
        <a href="/lasttrips">My last trips</a>
      </div>
    </nav>
    <main class="main-content">
      <div class="home-form-section">
        <h4 class="title home-title">One-way ticket:</h4>

        <form class="home-form" action="/results" method="post">
          <input
            name="departure"
            required
            type="text"
            class="form-input"
            placeholder="From: Paris, Marseille.."
          />

          <input
            name="arrival"
            required
            type="text"
            class="form-input"
            placeholder="To: Lille, Nantes.."
          />

          <input
            type="date"
            id="start"
            name="date"
            value="2018-11-20"
            min="2018-11-20"
            max="2018-11-24"
            placeholder="dd-mm-yyyy"
            required
            data-date=""
            data-date-format="DD MMMM YYYY"
          />
          <button type="submit" class="btn btn-home">Go</button>
        </form>

        <img src="images/landmark.png" class="img-home" alt="cities logo" />
      </div>
    </main>

    <!-- JQUERY  -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- BOOSTRAP  -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
