<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <!-- BOOTSTRAP -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FONTAWESOME  -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- FONTFAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="nav-logo">
        <img id="train-logo" src="/images/train.png" alt="train" />
        <h4>Ticketac</h4>
      </div>

      <div class="nav-links"></div>

    </nav>
    <main class="main-content">
      <div class="forms">
        <!-- SIGN IN AREA -->
        <div class="sign-in-form-section">
          <h4 class="title">Sign In:</h4>
          <form class="sign-in-form" action="/users/sign-in" method="post">
            <input
              name="emailLogin"
              type="email"
              class="form-input"
              placeholder="Email"
            />
            <input
              name="passwordLogin"
              type="password"
              class="form-input"
              placeholder="Enter password"
            />
            <button type="submit" class="btn btn-confirm">Confirm</button>
          </form>
        </div>
        <!-- SIGN UP AREA -->
        <div class="sign-up-form-section">
          <h4 class="title">Sign Up:</h4>

          <form class="sign-up-form" action="/users/sign-up" method="post">
            <input
            name="firstname"
            type="firstname"
            class="form-input"
            placeholder="FirstName"
            />
            <input
              name="name"
              type="name"
              class="form-input"
              placeholder="lastName"
            />
            <input
              name="email"
              type="email"
              class="form-input"
              placeholder="Email"
            />
            <input
              name="password"
              type="password"
              class="form-input"
              placeholder="Password"
            />
            <button type="submit" class="btn btn-confirm">Confirm</button>
          </form>
        </div>
      </div>
    </main>

    <!-- JQUERY  -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- BOOSTRAP  -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
