
/* TAG ELEMENTS */

a {
  color: #00B7FF;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #333;
  background-image: linear-gradient(to bottom, #A2DBFA, #39A2DB);
}

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.6rem;
  background-color: #eee;
  height:10vh
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* CLASSES */

.btn{
  background-color: rgb(218, 0, 0);
  color:#fff;
  border: none;
  /* border-color: #fff; */
  padding: 1.2rem;
  border-radius: 15%;
  font-size:2rem
}

.btn:hover{
  background-color: #eee;
  color:rgb(218, 0, 0);
  cursor: grab
}


.main-content{
  height:90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 2rem
}

.nav-links a{
 text-decoration: none;
 font-size: 1.8rem;
 font-weight: 500;
 color: #333
}

.nav-links a:hover, .active-link{
  color: rgb(218, 0, 0) !important
 }

.nav-logo{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2rem
}

.nav-logo h4{
  font-size: 1.8rem;
}

.title{
  font-size: 3rem;
  font-weight: 500;
  color: #fff;  
  margin-bottom: 1.5rem;
}


/* ID  */

#no-train{
 display: flex;
 align-items: center;
 flex-direction: column;

}

#no-train a{
  color: red
}

#train-logo{
  width: 4rem;
  height: 4rem;
}